body {background-color: #c4f0f7;}
hr {
border-style: dotted none none;
border-color: grey;
width:5% ;
border-width: 5px;}
h1 {color: #132d96;}
h3 {color: #66bfbf;}

img
{height: 300px;
  border-color: black;
  border-radius: 150px;
border-width: 2px;
border: 5px solid black;}
